/* colors */
:root {
  --bg-primary-color: #ededed;
  --bg-secondary-color: #eaf2fd;
  --text-default-color: #000000;
  --white-color: #fff;
  --text-primary-color: #464646;
  --text-secondary-color: #2a7ae4;
}

/* fonts */
@font-face {
  font-family: 'ralewaybold';
  src: url('../font/raleway-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayregular';
  src: url('../font/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Generals styles */
body{
  background-color: var(--bg-primary-color);
}
.color-text{
  color: var(--text-primary-color);
}
.title{
  font-size: 32px;
  font-family: "ralewaybold";
}
.wrap{
  width: 90%;
  margin: auto;
}

/* header styles */
.header{
  width: 90%;
  margin: 35px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-img{
  margin-right: 8px;
}
.header__logo-text{
  font-family: 'ralewaybold';
}

/* nav & navbar styles */
.navbar{
  display: flex;
  flex-direction: row;
}
.navbar__item{
  font-size: 16px;
  margin-right: 32px;
  font-family: "ralewayregular";
}
.navbar__item-link{
  position: relative;
}
.navbar-contact{
  font-family: "ralewaybold";
}

.navbar__item-link::after{
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--text-primary-color);
  width: 0;
  left: 0;
  top: calc(100% + 4px);
  transition: ease-in-out .6s;
  opacity: 0;
}

.navbar__item-link:hover::after{
  width: 100%;
  opacity: 0.8;
}

/* Hero */
.hero{
  width: 90%;
  margin: 64px auto;
  display: flex;
  align-items: center;
  gap: 17px;
}
.hero__primary{
  width: 750px;
}
.hero__title{
  font-size: 52px;
  font-family: 'ralewaybold';
  line-height: 1.2;
  margin-bottom: 24px;
}
.hero__paragraph{
  font-size: 22px;
  font-family: "ralewayregular";
  line-height: 1.5;
  margin-bottom: 24px;
}
.hero__links{
  display: flex;
}
.hero__link-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 32px;
}
.hero__secundary-img{
  width: 368px;
  height: 368px;
  object-fit: cover;
  border-radius: 50%;
}

/* Sobre Mi / About me Section */
.about-me{
  background-color: var(--bg-secondary-color);
}
.about-me__text{
  width: 65%;
  padding: 64px 0px;
}
.about-me__paragraph{
  font-family: "ralewayregular";
  line-height: 1.5;
  margin-top: 16px;
}
.about-me__img{
  margin-top: 16px;
}
